html {
 	//background-color: #08ddf1;
  background-image: url("bgimage.jpg")
 } 

h1 { 
 font-family: 'Pacifico', sans-serif;
 font-size: 36px;
 color: #000000;
 }

 p { 
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 color: #000000;
}

div.container { 
position: absolute;
width: 100%;
height: 100%;
text-align: center;
 }

 a {
 	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
 	color: #000000;
 }

div.text { 
background-color: #FFFFFF;
width: 25%;
height: auto;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-width: 4px;
border-color: #000000;
 }